@import "tailwindcss";
li{
    font-family: sans-serif;
    padding: 20px;
    margin: 0;
    height: fit-content;
    transition: 1s;
}
li:hover{
    background-color: rgba(0, 0, 0, 0.2);
   
} 
.btn
{
    background-color: rgb(16, 203, 16);
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 400;
    color: white;

}

.roboto {
    font-family: "Roboto", sans-serif;
  }
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
 
  }
  